body
{
    background-color: #333333;
    color: #fff;
}
div.mainContainer
{
    border-style: double;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    /*background-color: white;*/
    text-align: center;
    padding-bottom: 10%;
}
h1
{
    font-size: 400%
}
.menuButton
{
    border-style: double;
    background-color: #f44336;
    /*border: 5px;*/
    border-radius: 8px;
    font-size: 30px;
    width: 50%;
    margin-top: 5%;
    padding: 10px 0px 10px 0px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.menuButton:hover
{
    background-color: lightcoral;
}
