html
{
    cursor: url("Assets/cursor.png") 64 64, auto;
}
body
{
    background-color: #333333;
    color: #fff;
}
div.mainContainer
{
    /*border-style: double;*/
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    /*background-color: white;*/
    text-align: center;
    padding-bottom: 10%;
}
h1
{
    font-size: 400%
}
.menuButton
{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #33cccc);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    background-size: 300% 100%;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    width: 60%;
    height: 100%;
    margin-top: 5%;
    padding: 10px 0px 10px 0px;
    transition: all .4s ease-in-out;
}
.menuButton:hover
{
    width: 65%;
    cursor: url("Assets/cursor.png") 64 64, auto;
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.closeButton
{
    margin-left: 2%;
    background: transparent;
    border: none !important;
    font-size: 0;
    background-size: 90%;
    background-repeat: no-repeat;
    background-image: url("Assets/backArrow.png");
    width: 5%;
    height:90px;
    position: absolute;
    margin-top:6%;
}
.closeButton:hover
{
    background-size: 95%;
}
.ssButtons
{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #33cccc);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    background-size: 300% 100%;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    width: 40%;
    height: 70px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 10px 0px 10px 0px;
    transition: all .4s ease-in-out;
}
.ssButtons:hover
{
    width: 65%;
    height: 150px;
    cursor: url("Assets/cursor.png") 64 64, auto;
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: left;
    padding-left: 5%;
}
.ssButtons:hover span
{
    display: none;
}
.ssButtons:hover img
{
    display: block;
    align-items: right;
}
.ssButtons img
{
    display: none;
}
#lvl1Button:hover:before
{
    content:"Queen - We Will Rock You \a\a Schwierigkeit: 2/10";
}
#lvl2Button:hover:before
{
    content:"Band - IrgendeinLied \a\a Schwierigkeit: 4/10";
}
#lvl3Button:hover:before
{
    content:"Auch Band - Auch irgendein Lied \a\a Schwierigkeit: 7/10";
}
.ssButtons:hover::before
{
    white-space: pre;
}
#lvl1Button
{
    margin-top:15%;
}
.songPrev
{
    width:10%;
}
.playKeys
{
    width: 5%;
    height: 20%;
    margin-left: 15%;
    margin-top: 5%;
    display: inline-block;
    background-color: rgba(189, 207, 221, 0.2);
    text-align: center;
    padding-top: 2%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 15px;
    color: black;
}
#canvas
{
    width: 60%;
    margin-left: 20%;
}
#canvasMenu
{
    margin-left:30%;
}
#overlay
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: url("Assets/cursor.png") 64 64, auto;
}
#overlaySongSelect
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: url("Assets/cursor.png") 64 64, auto;
}
#overlayOptions
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: url("Assets/cursor.png") 64 64, auto;
}
#overlayHighscores
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: url("Assets/cursor.png") 64 64, auto;
}
#text
{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    white-space: pre;
}
#keyUI
{
    background-color: rgb(24, 22, 22);
    width: 70%;
    margin-left: 15%;
    height: 200px;
}
